{% extends "dashboard/base.html" %}

{% block content %}
<h3>Email Drafts</h3>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Company</th>
            <th>Subject</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        {% for email in emails %}
        <tr>
            <td>{{ email.lead.company_name }}</td>
            <td>{{ email.subject }}</td>
            <td>{{ email.created_at }}</td>
        </tr>
        <tr>
            <td colspan="3">
                <pre class="bg-light p-3">{{ email.body }}</pre>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
