{% extends "dashboard/base.html" %}

{% block content %}
<h3>Leads</h3>
<a href="{% url 'add_lead' %}" class="btn btn-success mb-3">
    ➕ Add Lead
</a>


<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Company</th>
            <th>Email</th>
            <th>Industry</th>
            <th>Score</th>
            <th>Source</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for lead in leads %}
        <tr>
            <td>
                <strong>{{ lead.company_name }}</strong><br>
                
            </td>
            <td><small class="text-muted">{{ lead.email }}</small></td>
            <td>{{ lead.industry|default:"—" }}</td>
        
            <td>
                {% if lead.lead_score >= 80 %}
                    <span class="badge bg-danger">🔥 Hot</span>
                {% elif lead.lead_score >= 50 %}
                    <span class="badge bg-warning text-dark">🟡 Warm</span>
                {% else %}
                    <span class="badge bg-secondary">❄️ Cold</span>
                {% endif %}
                <small>({{ lead.lead_score }})</small>
            </td>
        
            <td>
                <span class="badge bg-info">
                    {{ lead.lead_source.name|default:"Manual" }}
                </span>
            </td>
        
            <td>
                <span class="badge bg-dark">{{ lead.status }}</span>
            </td>
        
            <td>
                <form method="post" action="/api/leads/{{ lead.id }}/generate-email/">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-outline-primary">
                        ✉ Generate Email
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
</tbody>

</table>
{% endblock %}
